/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap"); /* Ceviche One */
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap"); /* Zen Kaku Gothic Antique */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap"); /* Libre Baskerville */

/* Title */
h1 {
  font-family: "Ceviche One";
}

/* Buttons style */
.button {
  font-family: "Libre Baskerville";
}

/* Error style */
#errors {
  display: grid;
}

h3 {
  font-family: "Zen Kaku Gothic Antique";
  font-style: oblique;
  display: none;
}

.form-check {
  font-family: "Libre Baskerville";
  color: #ffffff;
}
