/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');   /* Ceviche One */
/* @import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');   Zen Kaku Gothic Antique */

body {
    background-color: rgb(34, 34, 34);
    place-items: center;
}

/* Title */
h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Ceviche One', cursive;
}

/* Underline */
#underline {
    width: 90%;
    height: 1px;
    background: #ffffff;
    margin: 0 auto;
}

/* Buttons */
#buttons {
    margin: 0 auto;
}

.button {
    color: #ffffff;
    background-color: aqua;
    border: none;
    margin: 0 auto;
}