/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');   /* Ceviche One */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');   /* Zen Kaku Gothic Antique */

body {
    margin: 0;
    background-color: #222222;
}

main {
    margin: 0 5%;
}


/* Header */

/* Title */
h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Ceviche One', cursive;
    font-size: 4em;
}

/* Underline */
#underline {
    height: 1px;
    background: #ffffff;
    margin: 0 auto;
}


/* Buttons and password field */
#downHeader {
    margin-top: 2em; /* Make a space between header and #downheader */
    /* Center the items */
    display: grid;
    place-items: center;
}

.button {
    font-size: 1.7em;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

/* Left button */
#generatePwd {
    background-color: #48ff00;
}

/* Right button */
#copyPwd {
    background-color: #5b5b5b;
}


/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
}

span {
    visibility: hidden;
    opacity: 0;
    transition: opacity 800ms;
    width: max-content; /* To adjust span width */
    text-align: center;
    color: #ffffff;
    padding: 0.5em;
    font-style: italic;
    position: absolute; /* Position the tooltip */
}

#leftTooltip {
    /* To center text */
    top: -10px;
    right: 105%;    
}

/* Tooltip style at hover */
.tooltip:hover span {
    visibility: visible;
    opacity: 1;
}

/* Password generated */
h2 {
    color: #ffffff;
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 2em;
    display: none;
}

/* Error style */
h3 {
    color: #e00000;
    font-family: 'Zen Kaku Gothic Antique';
    font-style: oblique;
    display: none;
}


/* Inputs */
#inputs {
    margin: 2em 0;
    display: grid;
    place-items: center;
    grid-template-columns: 0fr 0.2fr 0fr 0.2fr 0.2fr 0.2fr;
}

input {
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/* Add button */
#addBtn {
    background-color: #025bce;
}


/* Password table */
table, td {
    color: #ffffff;
    text-align: center;
    border-top: solid #ffffff 1px;
}

th, td {
    padding: 1em 0; 
}

/* Buttons td */
.btnTd {
    width: 10%;
}

#editBtn {
    background-color: #025bce;
}

#removeBtn {
    background-color: #af0000;
}